body {
    text-align: center;
    background-color: var(--base);
    text-rendering: optimizeLegibility;
}
.mode_class{
    position: absolute;
    top: 0; right: 0;
    margin: 20px 20px 0 0;
    color: red;
}
#mode:hover {
    filter: invert(80%) sepia(45%) saturate(6917%) hue-rotate(173deg) brightness(96%) contrast(82%) !important
}
.info {
    display: flex;
    flex-direction: column;
    margin-top: 140px;
    line-height: 0.1;
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
}
@media all and (max-width: 550px) {
    .info, hr, .mode_class
    {
        visibility: hidden;
        margin: auto;
    }
}
#time {
    font-size: 28px;
    color: var(--peach);
}
#greeter {
    font-size: 32px;
    color: var(--text);
}
#input {
    width: 45%;
    padding: 10px;
    font-size: 1.6em;
    text-align: center;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--mauve);
    color: var(--text);
    background: transparent;
}
#input:hover, #input:focus {
    border-color: var(--mauve) !important;
}
.grid-container {
    height: auto;
    margin: 0 20% 15% 20%;
    padding-top: 20px;
    opacity: 1;
    gap: 10px 10px;
    text-align: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    transition: opacity .5s;
}
.icon-container {
    text-align: center;
}
.icon-container a, .icon-container button {
    display: flex;
    flex-direction: column;
    align-items: center;
}
a:visited, a:link, a:active {
    color: var(--text);
    text-decoration: none;
    font-size: 26px;
    text-indent: 2px;
    line-height: 1.5;
}
.icon-container i {
    font-size: 42px;
    border-radius: 50%;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
background-color: var(--surface0)
}
.icon-container span {
    font-size: 14px;
    font-weight: bold;
    transition: color 0.3s;
    padding-top: 10px;
    font-family: 'Overpass Mono', monospace;
}
.github i, .github:hover span {
    color: var(--lavender) !important;
}
.gitlab i, .gitlab:hover span  {
    color: var(--peach) !important;
}
.telegram i, .telegram:hover span {
    color: var(--blue) !important;
}

.protonmail i, .protonmail:hover span {
    color: var(--mauve) !important;
}
.nextdns i, .nextdns:hover span {
    color: var(--blue) !important;
}
.itch i, .itch:hover span {
    color: var(--peach) !important;
}
.pixiv i, .pixiv:hover span {
    color: var(--blue) !important;
}

